main{
    font-family: "Roboto Mono", monospace;
    position: relative;
}

#circulo{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    color: #fff;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circulo::before{
    content: "";
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #5adacf;
}




.botones{
    margin-top: 10px;
    display: inline-flex;
}

.paused{
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #fff;
    will-change: border-width;
    border-style: solid;
}

.runing{
    border-style: double;
    border-width: 0 0 0 10px;
}

.stop{
    background-color: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;
}


   